h5 {
  margin-bottom: 0px;
  font-weight: 400;
}
form {
  text-align: center;
}
body {
  background-color: whitesmoke;
}
#app-container-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
#app-container {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#city-name {
  font-size: 51px;
}
#city-temperature {
  font-size: 120px;
  font-weight: 100;
}
#current-temperature-info {
  margin-bottom: 18px;
}
.github-link,
.linked-in-profile {
  text-decoration: none;
}
.github-link:hover,
.linked-in-profile:hover {
  color: red;
  text-decoration: underline;
}
#degree {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 70px;
}
.weather-forecast {
  margin-top: 25px;
}
#minimum-forecast-temperature {
  opacity: 0.6;
}
#maximum-forecast-temperature {
  font-weight: 500;
}
#weather-description {
  margin-top: 5px;
  font-style: italic;
}
#weather-description::first-letter {
  text-transform: capitalize;
}
#temperature-icon {
  width: 50%;
}
#fahrenheit-link {
  text-decoration: none;
  color: black;
}
#celcius-link {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active-link {
  font-weight: 400;
}
.last-updated {
  font-weight: 400;
}
.forecast-img {
  margin-left: -33px;
}
.forecast-data {
  padding: 0px 20px;
}

@media (max-width: 576px) {
  #city-temperature {
    font-size: 105px;
  }

  #degree {
    bottom: 62px;
  }

  #temperature-icon {
    width: 100%;
  }
}
